small{
    font-size: x-small;
}

table{
  border-radius: 3px;
  padding: 25px 35px;
  display: flex;
  justify-content: space-between;
  margin: 12px 20px;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}

h1{
    color: black;
    text-align: center;
}

.row1{
    background-color: darkgray;
}

.col1{
    text-align: left;
    height:50px;
    width:200px;
}

.col2{
    text-align: left;
    height:50px;
    width:400px;
}

.col3{
    text-align: left;
    height:50px;
    width: 200px;
}

.col4{
    text-align: left;
    height:50px;
    width: 200px;
}